.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.form-input{
    padding: 8px;
    margin-bottom: 15px;
    width: 40rem;
}
.contact-h1{
    margin-top: 70px;
}
.contact-btn{
    margin-bottom: 12px;
}

@media only screen and (max-width:650){
    .form-input{
        padding: 8px;
        margin-bottom: 15px;
        width: 40rem;
    }
}